{{>header}}
{{>slidebar}}

<div id = 'content-gantt' class="display-gantt">
     <div class="content-wrapper-header">
        <p> Gantt Chart </p>
    </div>

    <div class="col-lg-12 board-main-content" >
         <h5 style="margin: 20px"> The fuction is being updated! </h5>
        
    </div>

</div>

<style>
	.users-list>li img {
	    border-radius: 50%;
	    height: 67px;
	    width: 67px;
	    object-fit: cover;
	}
	.users-list>li {
		width: 33.33% !important
	}
	.truncate {
		-webkit-line-clamp:1 !important;
	}
</style> 
</div>

<style>
.gantt-chart, #item-menu-gantt {
    background-color: #f0f0f0 !important; 
    color: #4c7ebf !important;
  }
</style>

 