<div class="mt-4">
    <h3>Đăng khóa học</h3>

    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="decrip" name="name">
        </div>

        <div class="mb-3">
            <label for="decrip" class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="decrip" name="decrip">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Hinh anh</label>
            <input type="text" class="form-control" id="decrip" name="image">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" id="decrip" name="level">
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

