
<div id = 'display-task' class="display-task">
    <div class="content-wrapper-header">
         <p> Task List </p>
    </div>

    <div class="content-task-main">
        <div class="task-list-header">
            <div class="tool-addnew">
                <a href="/tasks/create" class="btn-add-new-task">
                    <i class="ti-new-window">Add New Task</i>
                 </a>
        </div>

    </div>
    <div class="task-list-main">
                    <div class="task-list-wrapper">
                        <div class="row" id = "row-search-task">
                            <label for="" class="search-task">
                                Search:
                                <input class="btn-search-task" type="search" >
                            </label>

    </div>
    <div class="row">
        <div class="table-task-list">
            <table class="task-list-body">
                <colgroup>
                      <col width="5%">
                     <col width="25%">
                     <col width="20%">
                     <col width="20%">
                     <col width="20%">
                     <col width="10%">
                </colgroup> 
        
                <thead>
                    <tr><th>#</th>
                     <th>Task</th>
                     <th>Task Started</th>
                    <th>Task Due Date</th>
                      <th>Task Status</th>
                       <th>Action</th>
                     </tr></thead>
        
                <tbody>
        
                </tbody>
            </table>
        </div>

    </div>

</div>
