<div id = 'form-manage-account'>
            <div class="main-edit-account">

                <form action="" method="POST" class="form" id="form-1">
                  <h3 class="heading">Manage Account</h3>
                  <p class="desc"></p>
              
                  <div class="spacer"></div>
              
                  <div class="form-group">
                    <label for="userName" class="form-label">userName</label>
                    <input id="userName" name="userName" type="text"  class="form-control">
                    <span class="form-message"></span>
                  </div>
              
                  <div class="form-group">
                    <label for="Email" class="form-label">Email</label>
                    <input id="Email" name="Email" type="text" class="form-control">
                    <span class="form-message"></span>
                  </div>
              
                  <div class="form-group">
                    <label for="Address" class="form-label">Address</label>
                    <input id="Address" name="Address" type="Address" class="form-control">
                    <span class="form-message"></span>
                  </div>
              
                  <div class="form-group">
                    <label for="numberPhone" class="form-label">Number phone</label>
                    <input id="numberPhone" name="numberPhone"type="password" class="form-control">
                    <span class="form-message"></span>
                  </div>
              
                  <button class="form-submit">Save</button>
                </form>
              
              </div>
        </div>