{{>header}}
{{>slidebar}}
<div id='edit-category' class="edit-category">
    <div class="content-wrapper-header">
        <p> Edit Category</p>
    </div>

    <div class="content-board-main" style="margin: 30px;">
        <form method="POST" {{#if isFormAdd}}action="/categories/store" {{/if}} {{#unless
            isFormAdd}}action="/categories/{{category._id}}?_method=PUT" {{/unless}}
            style="background-color: #fff; padding: 20px">
            <div class="col-lg-12 board-main-content">
                <div class="row board-main-row">
                    <div class="col-md-12">
                        <div class="callout callout-info">
                            <div class="col-md-12">
                                <div class="row board-main">
                                    <div class="col-sm-6">

                                        <div class="input-add-category">
                                            <label for="categoryName" class="form-label">Category Name</label>
                                            <input type="text" class="form-control inputCategory"
                                                value='{{category.categoryName}}' id="categoryName" name="categoryName"
                                                style="margin: 0 0 0 20px !important;">
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="input-add-category">
                                            <label for="description" class="form-label">Description</label>
                                            <textarea type="text" class="form-control inputCategory" id="description"
                                                name="description"
                                                style="height: 100px; margin: 0 0 0 20px !important;"> {{category.description}}</textarea>
                                        </div>

                                        <button type="submit" class="btn btn-primary"
                                            style="float: right; margin-top: 45px">Save</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .direc,
    #item-menu-direc {
        background-color: #f0f0f0 !important;
        color: #4c7ebf !important;
    }
</style>

<style>
    .content-board-main {
        border-radius: .25rem;
        border-top: 3px solid #28a745;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    }

    .board-main-row {
        background: #fff;
        padding: 20px 30px;
        color: rgb(33, 37, 41);
        display: inline-block;


    }

    .board-main {
        display: flex;
    }

    .board-main-content {
        display: grid;
    }

    .detail-category {
        display: flex;

    }

    .detail-category-col1,
    .detail-category-col2 {
        color: rgb(33, 37, 41);
        border-radius: .25rem;
        border-top: 3px solid #28a745;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);

    }

    .detail-category-col1 {
        margin: 25px 0px 20px 30px;
    }

    .detail-category-col2 {
        margin: 25px 20px 20px 0px;
    }


    .card-header {
        background-color: #fff;
    }

    .badge-primary {
        color: #fff;
        background-color: #007bff;
    }

    .categorys-list li {
        list-style-type: none;
    }

    .categorys-list-name {
        color: #000;
        text-decoration: none;
    }

    .dropdown-menu {
        margin: 40px 70px 0 0;
    }
</style>